{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "eslint-plugin-react"
  ],
  "rules": {
    "strict": 0,
    "comma-dangle": [2, "never"],
    "react/wrap-multilines": 0,
    "react/no-unknown-property": 0,

    "react/react-in-jsx-scope": 2,
    "react/prefer-es6-class": 2,
    "react/prop-types": 2,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-uses-react": [2, {"pragma": "React"}],
    "react/jsx-uses-vars": 2
  }
}
